<!--Brief introduction of myself-->
<div class="row" id="aboutMeWrapper">
    <h1 id="tagline_text" class="subheader">About Daniel</h1>
    <br />
    <div class="large-6 columns">
        <img src="assets/img/zhe_profile%20photo.jpg" alt="" />
    </div>
    <div class="large-6 columns">
        <p>Hi, I’m Zhe Yan. or "Daniel" for my english name.</p>
        <p>I am an internation student and currently study at Centennia College, Software Engineering Technology program. I am going to graduate at April 2015.</p>
        <p>I am experienced in Software Development, Web Design, Android App Development ...... and actively looking for software developer or web developer positions. Feel free to <a href="/contact">contact me</a> if you want to hire me.</p>
    </div>
</div>

<!--My study experience-->
<div class="row" id="aboutMeWrapper">
    <hr class="hrStyle">
    <h1 id="tagline_text" class="subheader">Education</h1>
    <br />
    <div class="large-7 columns">
        <p>
            <strong>Software Engineering Technology Advanced Diploma</strong>
            <br />Centennial College, Scarborough, Ontario
            <br />
        </p>
    </div>
    <div class="large-5 columns">
        Sept 2012-April 2015
    </div>
</div>

<!--Course I already taken-->
<div id="aboutMeWrapper" class="row">
    <div class="large-6 columns">
        <p>
            <strong>Relevant Courses Included:</strong><br />
            Programming 1, 2, 3 (C# programming)<br />
            Software Testing and Quality Assurance <br />
            Advanced Database Concepts
        </p>
    </div>
    <div class="large-6 columns">
        <br />
        <p>
            Programming 1, 2, 3 (C# programming)<br />
            Software Testing and Quality Assurance <br />
            Object Oriented Software Engineering
        </p>
    </div>
</div>

<!--My work experience-->
<div class="row" id="aboutMeWrapper">
    <hr class="hrStyle">
    <h1 id="tagline_text" class="subheader">Experience</h1>
    <br />
    <div class="large-7 columns">
        <p>
            <strong>Peer Technology Mentor (Co-op Work Term)</strong>
            <br />Centennial College, Toronto, ON
            <br />
        </p>
    </div>
    <div class="large-5 columns">
        Jan 2014- Apr 2014
    </div>
</div> 