<!--Footer, copyright statement-->
<div class="footer-bottom">
    <div class="row text-center">
        <a href="termsOfUse.html">Terms of use</a>
        <p class="copyright">© 2015 Zhe Yan. All rights reserved.</p>
    </div>
</div>