<!--File  name: footer.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the footer of all pages, it shows term of use and copy right statement for all pages-->
<!--Footer, copyright statement-->
<div class="footer-bottom">
    <div class="row text-center">
        <a href="/termOfUse">Terms of use</a>
        <p class="copyright">© 2015 Zhe Yan. All rights reserved.</p>
    </div>
</div>