<!--The Navigation bar(Full version) in medium and large screen-->
<div class="row navClass hide-for-small">
    <!--Logo-->
    <div class="large-2 medium-2 columns" id="logo">
        <img src="assets/img/logo.png" alt="" />
    </div>

    <!--Navigation full size-->
    <div class="icon-bar six-up large-10 medium-10 columns end" id="navBarRegular">
        <a class="item hide-for-small" href="/" <% if (title === "Zhe's Potfilio") { %>id="checkedNavIcon" <% } %>>
            <img src="assets/img/icon/home.svg" alt="" />
            <label>Home</label>
        </a>
        <a class="item" href="/about"  <% if (title === 'About Me') { %>id="checkedNavIcon" <% } %>>
            <img src="assets/img/icon/me.svg" alt="" />
            <label class="show-for-large-up">
                About Me
            </label>
            <label class="show-for-medium-only">
                About
            </label>
        </a>
        <a class="item" href="/projects" <% if ((title === 'Projects')||(title === 'Android health tracking app') ||(title === 'IT help desk system') ||(title === 'Inventory System')) { %>id="checkedNavIcon" <% } %>>
            <img src="assets/img/icon/project.svg" alt="" />
            <label>Projects</label>
        </a>
        <a class="item" href="/services" <% if (title === 'Services') { %>id="checkedNavIcon" <% } %>>
            <img src="assets/img/icon/service.svg" alt="" />
            <label>Service</label>
        </a>
        <a class="item" href="/contact" <% if (title === 'Contact Me') { %>id="checkedNavIcon" <% } %>>
            <img src="assets/img/icon/contact.svg" alt="" />
            <label class="show-for-large-up">
                Contact Me
            </label>
            <label class="show-for-medium-only">
                Contact
            </label>
        </a>
        <a class="item hide-for-small" href="https://github.com/yanzhe19">
            <img src="assets/img/icon/github.svg" alt="" />
            <label>Github</label>
        </a>
    </div>
</div>

<!--Navigation bar for small screen only, Replace the full navigation-->
<div class="navClass row show-for-small-only small-collapse">
    <div class="small-only-text-center" id="logo">
        <img src="assets/img/logo.png" alt="" />
    </div>
    <div id="navBar" class="icon-bar four-up">
        <a class="item" href="/about">
            <img class="smallIcon" src="assets/img/icon/me.svg" alt=""/>
        </a>
        <a class="item" href="/projects">
            <img class="smallIcon" src="assets/img/icon/project.svg" alt="" />
        </a>
        <a class="item" href="/services">
            <img class="smallIcon" src="assets/img/icon/service.svg" alt="" />
        </a>
        <a class="item" href="/contact">
            <img class="smallIcon" src="assets/img/icon/contact.svg" alt="" />
        </a>
    </div>
</div>

<!--breadcrumbs for home page-->
<div class="row">
    <ul class="breadcrumbs">
        <li class="current"><a href="index.html">Home</a></li>
    </ul>
</div>