<!--File  name: healthTrackingAndroidProject.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the health tracking android project detial page of my potfolio site, it shows details of health tracking android project-->
   <div class="large-6 columns">
    <img src="assets/data1/images/3.png" alt="" />
    <br>
    <br />
    <img src="assets/data1/images/4.png" alt="" />
</div>
<div class="large-6 columns">
    <div class="panel">
        <h1 id="tagline_text">Android Health Tracking App<hr /></h1>
        <h5 class="subheader">
            This app’s target is to provide an alternative easier way to record, calculate and monitor body’s health. <br />It could be used by both hospital or personal to monitoring body status, such as weight, height, blood pressure, heart rate, blood concentration, etc.
        </h5>

    </div>
</div>