<!--File  name: helpDeskProject.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the help desk project detial page of my potfolio site, it shows details of help desk project-->
   <div class="large-6 columns">
    <img src="assets/data1/images/1.jpg" alt="" />
    <br>
    <br />
    <img src="assets/data1/images/2.jpg" alt="" />
</div>
<div class="large-6 columns">
    <div class="panel">
        <h1 id="tagline_text">Help desk system<hr /></h1>
        <h5 class="subheader">GUI based helpdesk management system which can facilitate the daily operation of helpdesk. <br />This application contains four main functions including log in, create tickets, update tickets, delete ticket and view ticket report. </h5>

    </div>
</div>