<div class="large-6 columns">
    <img src="assets/data1/images/1.jpg" alt="" />
    <br>
    <br />
    <img src="assets/data1/images/2.jpg" alt="" />
</div>
<div class="large-6 columns">
    <div class="panel">
        <h1 id="tagline_text">Help desk system<hr /></h1>
        <h5 class="subheader">GUI based helpdesk management system which can facilitate the daily operation of helpdesk. <br />This application contains four main functions including log in, create tickets, update tickets, delete ticket and view ticket report. </h5>

    </div>
</div>