<!--File  name: inventorySystemProject.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the inventory system project detail page of my potfolio site, it shows details of inventory system project page-->
<div class="large-6 columns">
    <img src="assets/data1/images/5.jpg" alt="" />
    <br>
    <br />
    <img src="assets/data1/images/6.jpg" alt="" />
</div>
<div class="large-6 columns">
    <div class="panel">
        <h1 id="tagline_text">Inventory Management System<hr /></h1>
        <h5 class="subheader">When there is a purchase, sale or promotion event happened, system operated as assigned.<br /> Inventory administrator will operate the system to update the database. Inventory administrator and the company manager have the rights to access the inventory report. </h5>

    </div>
</div>