<!--File  name: projects.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the project partial page of my potfolio site, it shows content of project page-->
<!-- Main Content Section -->
<div class="row" id="aboutMeWrapper">
    <h1 id="tagline_text" class="subheader">Projects</h1>
    <br />
    <div class="large-5 columns">
        <p>There are 3 projects I posted. "IT help desk system", "Health Status Tracking Android App", and "Warehouse Inventory Management System".</p>
        <p>You can click the images or the link below to go to each project's detail page. Enjoy it! Feel free to contact me if you are intersted in my projects.</p>
        <div class="panel">
            <a href="/helpDesk">Helpdesk System</a><br />
            <a href="/android">Health Android App</a><br />
            <a href="/inventory">Inventory System</a><br />
            <a id="pojectPageContactBtn" href="/contact" class="secondary small button "><strong>Contact Me</strong> &rarr;</a>
            <!--radius button right-->
        </div>
    </div>

    <!--image section-->
    <div class="large-7 columns">
        <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
        <ul class="small-block-grid-2">
            <li class="imageGrid"><a href="/helpDesk"><img src="assets/data1/images/1.jpg" /></a></li>
            <li class="imageGrid"><a href="/helpDesk"><img src="assets/data1/images/2.jpg" /></a></li>
            <li class="imageGrid"><a href="/android"><img src="assets/data1/images/3.png" /></a></li>
            <li class="imageGrid"><a href="/android"><img src="assets/data1/images/4.png" /></a></li>
            <li class="imageGrid"><a href="/inventory"><img src="assets/data1/images/5.jpg" /></a></li>
            <li class="imageGrid"><a href="/inventory"><img src="assets/data1/images/6.jpg" /></a></li>
        </ul>
    </div>
</div>