<!--File  name: services.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the service partial page of my potfolio site, it shows content of service page-->
<!--software developer service-->
<div class="row" id="serviceWrapper">
    <h1 id="tagline_text" class="subheader">Software Developer</h1>
    <br />

    <!--Proficiency part-->
    <div class="row">
        <div class="large-2 columns">
            <strong>Proficiency:</strong>
        </div>
        <div class="large-10 columns">
            <div class="progress success round">
                <span class="meter" style="width:85%"></span>
            </div>
        </div>

        <!--Skills part-->
        <div class="large-2 columns">
            <strong>Skills:</strong>
        </div>
        <div class="large-10 columns">
            Software Development Life Cycle, Object Oriented software engineering and Agile Methodology.
        </div>

        <!--Language I use-->
        <div class="large-2 columns">
            <strong>Language:</strong>
        </div>
        <div class="large-10 columns">
            C#, Java, SQL, C++, Php
        </div>
    </div>
</div>

<!--web developer service-->
<div class="row" id="serviceWrapper">
    <hr class="serviceHr">
    <h1 id="tagline_text" class="subheader">Web Developer</h1>
    <br />

    <!--Proficiency part-->
    <div class="row">
        <div class="large-2 columns">
            <strong>Proficiency:</strong>
        </div>
        <div class="large-10 columns">
            <div class="progress success round">
                <span class="meter" style="width:70%"></span>
            </div>
        </div>

        <!--Skills part-->
        <div class="large-2 columns">
            <strong>Skills:</strong>
        </div>
        <div class="large-10 columns">
            Responsive website design and development.
        </div>

        <!--Language I use-->
        <div class="large-2 columns">
            <strong>Language:</strong>
        </div>
        <div class="large-10 columns">
            HTML5, CSS3, JavaScript, JQuery, Foundation, PHP
        </div>
    </div>
</div>

<!--android application developer service-->
<div class="row" id="serviceWrapper">
    <hr class="serviceHr">
    <h1 id="tagline_text" class="subheader">Android Application Developer</h1>
    <br />

    <!--Proficiency part-->
    <div class="row">
        <div class="large-2 columns">
            <strong>Proficiency:</strong>
        </div>
        <div class="large-10 columns">
            <div class="progress success round">
                <span class="meter" style="width:70%"></span>
            </div>
        </div>

        <!--Skills part-->
        <div class="large-2 columns">
            <strong>Skills:</strong>
        </div>
        <div class="large-10 columns">
            Android applicaiton development on the latest android platform.
        </div>

        <!--Language I use-->
        <div class="large-2 columns">
            <strong>Language:</strong>
        </div>
        <div class="large-10 columns">
            Java, Xml
        </div>
    </div>
</div>