<!DOCTYPE html>
<!--File  name: projectDetail.ejs,  Author's  name: Zhe Yan (300706310),  web  site  name: Zhe's Potfilio,  file  description: this file is the project detial page of my potfolio site, it shows detail information of my every project-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="this file is the detail project page of my potfolio site, 
                                          it demos my every project." />
        <meta name="author" content="Zhe Yan, Student Number:300706310" />
        <meta name="copyright" content="Zhe Yan. Copyright (c) 2015" />

        <title><%= title %></title>

        <!--CSS Section-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
        <link rel='stylesheet' href='/css/app.css' />
    </head>
    <body>
        <div id="wrapper">
            <!--add header to page-->
            <% include partials/header.ejs %>

            <!--+++++++++++++++++++++++++++++insert different projects section+++++++++++++++++++++++++++++++++++++++++++-->
            <!--body of the description of this project-->
            <div class="row" id="serviceWrapper">
                <!--insert -->
                <%    if(title == "Android health tracking app")  {%>
                <%    include partials/healthTrackingAndroidProject.ejs %>
                <%    }  %>   
                <!--insert the about me page-->
                <%    if(title == "IT help desk system")  {%>
                <%    include partials/helpDeskProject.ejs %>
                <%    }  %>    
                <!--insert the projects page-->
                <%    if(title == "Inventory System")  {%>
                <%    include partials/inventorySystemProject.ejs %>
                <%    }  %>    
            </div>

            <!--add footer to page-->
            <% include partials/footer.ejs %>

            <!--JavaScript Section-->
            <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
            <script src="/Scripts/app.js"></script>
        </div>
    </body>
</html>
